/* Coolors Exported Palette - http://coolors.co/app/a5f49c-70a37f-76b9fc-414073-4c3957 */

/*
$color1: #a5f49c;
$color2: #70a37f;
$color3: #76b9fc;
$color4: #414073;
$color5: #4c3957;
*/

#content {
	max-width: 45em;
	margin: 0 auto;
}

#header {
	border-top: 2px solid #4c3957;
	border-bottom: 2px solid #4c3957;
	color: #4c3957;
	background: #76b9fc;
	font-size: 200%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

#header a {
	text-decoration: none;
}

#header a:hover {
	background: black;
	color: white;
}

#footer {
	margin-top: 30px;
	margin-bottom: 10px;
	padding: 10px 30px;
	text-align: center;
	border-top: 2px solid #4c3957;
	border-bottom: 2px solid #4c3957;
	background: #76b9fc;
}

#subtitle {
	font-size: 120%;
	text-align: center;
	font-style: italic;
	margin-bottom: 1.5em;
}

/* Minor tweak to get the CC image link to align nicely with the footer text */
a.cc-img {
	vertical-align: -2px;
}

#topnav {
	text-align: center;
	padding: 4px 16px;
}

#topnav_inner {
	margin-left: 80px;
	margin-right: 80px;
	line-height: 2;
}

#topnav a {
	border: 2px solid #4c3957;
	border-radius: 16px;
	padding: 4px 12px;
	text-decoration: none;
	background: #76b9fc;
	color: black;
}

#topnav a:hover {
	background: #4c3957;
	color: white;
	border: 2px solid #4c3957;
}

h1, h2, h3 {
	font-weight: bold;
	color: #414073;
}

h1 {
	margin-top: 32px;
	border-top: 2px solid #4c3957;
	border-bottom: 2px solid #4c3957;
	font-size: 180%;
	text-align: center;
}

h2, h3 {
	border-bottom: 1px solid #4c3957;
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 120%;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid black;
	padding: 4px;
}

pre {
	margin-left: 20px;
	margin-right: 20px;
	background: #eee;
	padding: 8px;
	border: 1px solid #bbb;
	overflow: auto; /* scroll if doesn't fit within page */
}

dt {
	margin-top: 8px;
}

.callout {
	background: #fbb;
	border: 4px solid red;
	border-radius: 24px;
	padding: 10px 40px;
}
